* {
    margin: 0;
    padding: 0;
}
html{
    overflow-y: hidden;
}
body{
    background-color: rgb(241, 241, 241);
}
a{
    color: rgb(0, 81, 255);
    text-decoration: none;
}
main{
    margin-top: 15%;
    width: 100%;
    height: 769px;
    display: flex;
    justify-content: center;
    column-gap: 20%;
}
main h1{
    font-size: 60px;
    color: rgb(0, 81, 255);
}
main p{
    color: black;
    font-size: 30px;
}
#input{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
    align-items: center;
    border-radius: 5px;
}
button{
    width: 87%;
    height: 40px;
    background-color: rgb(0,81,255);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 6%;
}
input{
    width: 80%;
    padding: 10px;
    margin-bottom: 2%;
    border-radius: 5px;
    border: 1px solid;
}
#input>input{
    margin-top: 15px;
}
#button2{background-color: yellowgreen;}
hr{
    width: 90%;
    margin-bottom: 5%;
    margin-top: 3%;
}
#mec{
    width: 22%;
    height: 400px;
    position: relative;
}
span{
    position: absolute;
    left: 3%;
    top: 80%;
}
a:hover{
    text-decoration:underline;
}